.item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  height: 450px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
