@import "src/shared/constants/variables";

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 750px;
  border: 2px solid black;
  background-image: repeating-linear-gradient(
    -45deg,
    $box-first-color 0px,
    $box-first-color 20px,
    $box-secondary-color 20px,
    $box-secondary-color 40px,
  );

  &__firstText {
    width: auto;
    height: auto;
    background-image: repeating-linear-gradient(
      45deg,
      $hello-world-box-primary-color 0px,
      $hello-world-box-primary-color 20px,
      $hello-world-box-secondary-color 20px,
      $hello-world-box-secondary-color 40px
     );
    text-align: center;
    color: $white;
  }

  &__secondText {
    position: relative;
    background-color: darkcyan;
    width: max-content;
    line-height: 2rem;
    font-size: 2rem;
    color: white;
  }

  &__buttonCenter {
    text-align: center;
    padding: 1.5rem;
  }
  overflow: hidden;
}
