<div class="item-list">

  <ul class="item-list__flex-container">
    <li class="item-list__container-content">
      <div class="item-list__container-title">
        <input class="item-list__input" matInput placeholder="Input #1">
        <button class="item-list__button" mat-stroked-button>Primary</button>
      </div>
    </li>
    <li class="item-list__container-content">
      <div class="item-list__container-title">
        <input class="item-list__input" matInput placeholder="Input #2">
        <button class="item-list__button" mat-stroked-button>Primary</button>
      </div>
    </li>
  </ul>
  <!--  HEADER -->

  <ul class="item-list__flex-container">

    <li class="item-list__flex-item">
      <ul *ngFor="let sellItem of sellItemsList; index as i" class="item-list__flex-container">
        <li class="item-list__flex-item-list">
          <span class="item-list__product-name"> {{ sellItem.product_name }}</span>
          <!--          <span class="item-list__price"> {{ sellItem.price }}</span>-->
          <!--          <span class="item-list__stock"> {{ sellItem.stock }}</span>-->
          <button (click)="onItemClicked(sellItem, i, 'toCart')">CLICK</button>
        </li>
      </ul>
    </li>

    <li class="item-list__flex-item">
      <ul *ngFor="let cartItem of inCartList; index as i" class="item-list__flex-container">
        <li class="item-list__flex-item-list">
          <span class="item-list__product-name"> {{ cartItem.product_name }}</span>
          <!--          <span class="item-list__price"> {{ cartItem.price }}</span>-->
          <!--          <span class="item-list__stock"> {{ cartItem.stock }}</span>-->
          <button (click)="onItemClicked(cartItem, i, 'toSell')">CLICK</button>
        </li>
      </ul>
    </li>

  </ul>

</div>
