.app {
  &__toolbar {
    display: flex;
    justify-content: space-between;
    &__left {

    }

    &__right {

    }
  }

  &__sidenav {
    &__list {
      &__action {
        &.active {
          background-color: darkcyan;
        }
      }
    }
  }

  &__sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__minigame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__button {
      cursor: pointer;
      text-align: center;
      width: 180px;
      height: 180px;
      line-height: 180px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
    }
    &__stats {
      padding-top: 1rem;
      text-align: center;
    }
    &__points-text {
      color: #048c8c;
    }
  }
}
