<div class="app">
  <div class="app__toolbar">
    <span class="app__toolbar__button">
      My
    </span>
    <span class="app__toolbar__button">
      First
    </span>
    <span class="app__toolbar__button">
      Website!
    </span>
  </div>

  <div class="app__body">
    <div class="app__body__content">
      <img alt="woah_cat" src="assets/images/woah_cat.jpg"/>
    </div>
    <div class="app__body__content">
      <img alt="woah_cat" src="assets/images/nien.jpg"/>
    </div>
    <div class="app__body__content">
      <img alt="woah_cat" src="assets/images/hi.jpg"/>
    </div>
    <div class="app__body__content">
      <img alt="woah_cat" src="assets/images/nyan.png"/>
    </div>
  </div>
</div>
