$background-color: rgb(6, 54, 89);

$body-color: rgb(21, 22, 111);
$body-border-color: #0580a0;

$toolbar-color: darkcyan;

$toolbar-text-button-color: #d0cdcd;
$toolbar-button-color: #09176e;
$toolbar-button-hover-color: #2d8fd3;
$toolbar-text-button-hover-color: #000000;
